<h1>Index of the user page</h1>

<% if session[:user_id].nil? %>
  <% if flash[:error] %>
    <p><%= flash[:error] %></p>
  <%end%>
  <% if flash[:message] %>
   <%= flash[:messages] %>
   <%end%>

<%= form_tag '/login' do %>
  Email:<%=text_field_tag :email %></br>
  Password: <%=password_field_tag :password %></br>
  <%= submit_tag "Meet some People"%>
<% end %>
<% end %>
<h2>No Account yet? no problem create an Account <a href="/signup">here</a> right now</h2>
