<h1>Register for Blind Meetups</h1>

<% if flash[:errors] %>
<p>You fool: </br></br> <%= flash[:errors]["error_msg"].join(", ")%></p>
<% end %>
<div class="new_user">
<%= form_for :user, url: '/users' do |f| %> <!-- created endpoint to post form to -->
<p>Username: <%= f.text_field :username %></p></br>
<p>Email: <%= f.text_field :email %></p></br>
<p>Age: <%= f.number_field :age %></p></br>
<p>Gender: </br> <%= f.select :gender, options_for_select(['Dude', 'Chick', 'undefined']) %></p></br>
<p>Location: <%= f.text_field :location %></p></br>
<p>Password: <%= f.password_field :password %></p></br>
<p>Password Confirmation: <%= f.password_field :password_confirmation %></p></br>
<%= f.submit("Join the Blind Community") %>
</div>
<% end %>
